<%= form_tag do %>
  <fieldset>
    <legend>Here you can Log In</legend>
<div>
  <label for="email" >Email:</label>
  <%= text_field_tag :email, params[:email] %>
</div>
<div>
  <label for="password" >Password:</label>
  <%= password_field_tag :password, params[:password] %>
</div>
<div>
  <%= submit_tag "login" %>
</div>
</fieldset>
<% end %>
<%= link_to 'Back', :root %>
