<h1>Listing posts</h1>
<div id='post_list'>
<%= link_to 'New Post', new_post_path %>
<table width=60%>
<% @posts.each do |post| %>
  <tr class='list_cat'>
    <td>Category: <%= post.category.name %> || 
    Theme: <%= post.theme %></td>
  </tr>
  <tr class='list_content' >
    <td><%= post.content %><l/td>
  </tr>
  <tr class='list_other'>
    <td>Source: <%= post.source %>
    <br>  Tags: <%= post.tags %></td>
  </tr>
  <tr class='list_links' >
    <td class='list_actions'><%= link_to 'Show more', post %> ||
    <%= link_to 'Add comment', post %>
    </td>
  </tr>
<% end %>
</table>

<br />

</div>
