<h1>Listing posts</h1>
<%= @user_id %>
<div id='post_list'>
<table width=60%>
<% @posts.each do |post| %>
  <tr class='list_cat'>
    <td>Category: <%= post.category.name %> || 
    Theme: <%= post.theme %></td>
  </tr>
  <tr class='list_content' >
    <td><%= post.content %><l/td>
  </tr>
  <tr class='list_other'>
    <td>Source: <%= post.source %>
    <br>  Tags: <%= post.tags %></td>
  </tr>
  <tr class='list_links' >
    <td class='list_actions'><%= link_to 'Show_more', post %> ||
    <%= link_to 'Edit', edit_post_path(post) %> ||
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
</div>
