<div id='post_list'>
<table width=60%>
  <tr class='list_cat'>
    <td>Category: <%= @post.category.name %> || 
    Theme: <%= @post.theme %></td>
  </tr>
  <tr class='list_content' >
    <td><%= @post.content %><l/td>
  </tr>
  <tr class='list_other'>
    <td>Source: <%= @post.source %>
    <br>  Tags: <%= @post.tags %></td>
  </tr>
  <tr class='list_links' >
    <td class='list_actions'>
    <%= link_to 'Add comment', @post %>
    </td>
  </tr>
</div>
<%= link_to 'Back', :root  %>
