<div id='post_list'>
<table width=60%>
  <tr class='list_cat'>
    <td>   
    Category: <%= @post.category.name %> || 
    Theme: <%= @post.theme %></td>
  </tr>
  <tr class='list_content' >
    <td><%= @post.content %></td>
  </tr>
  <tr class='list_other'>
    <td>
    <% if !@post.source.empty? %>
      Source: <%= @post.source %>
    <% end %>
    <% if !@post.tags.empty? %>
      <br>  Tags: <%= @post.tags %>
  <% end %>
  </td>
  </tr>
  <tr class='list_links' >
    <td class='list_actions'>
    <%= link_to 'Add comment', @post %>
    </td>
  </tr>
</div>
<tr><td>
<% if !@post.comments.empty? %>
  <%= render 'comments/list' %>
<% else %>
  <hr id='closing_line'>
<% end %>
<%= render 'comments/add' %>
</tr></td>

<%= link_to 'Back', :root  %>
