<!DOCTYPE html>
<html>
<head>
  <title>News</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <table>
    <tr>
      <td>
        <% if @user_id %>
        <%= render 'layouts/logged' %>
      <% else %>
        <%= render 'layouts/anonim' %>
      <% end %>
      </td>
    </tr>
  </table>
  <hr width=60% align=left>
<%= yield %>

</body>
</html>
